@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
      url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.woff2') format('woff2'),
      url('./fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
      url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  color: #121212;
  background-color: #383838;

  font: 16px/1.5 'Roboto', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 64px;
}

.container__wrap {
  display: grid;

  grid-template-columns: 300px 1fr;
  grid-template-areas:
    'header header'
    'nav content';
  gap: 32px;
}

.container__content {
  background-color: #fbfbfb;
  grid-area: content;
}
